header {
  background-image: url(../img/forest.jpg);
  background-size: cover; }

.opacity {
  text-transform: uppercase;
  font-family: "griezmann";
  color: #f9f9f9;
  opacity: 0.6; }

.textblanc {
  color: #f9f9f9;
  margin-top: -4%;
  opacity: 0.6; }

.marg-title {
  margin-top: 200px; }

.img-somb {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4); }

.logos {
  font-family: "icones";
  font-size: 80px;
  color: #f9f9f9;
  opacity: 0.6; }

.dark {
  position: relative;
  -moz-box-shadow: 0px 1px 2.5px 2px #656565;
  -webkit-box-shadow: 0px 1px 2.5px 2px #656565;
  -o-box-shadow: 0px 1px 2.5px 2px #656565;
  box-shadow: 0px 1px 2.5px 2px #656565; }

footer {
  background-color: rgba(50, 50, 50, 0.9); }

.footer-dim {
  height: 25%;
  width: 100%; }

.cv-hover:hover {
  cursor: pointer;
  width: 100%; }

.navbar {
  background-color: rgba(50, 50, 50, 0);
  border-radius: 0px;
  border: 0px;
  width: 100%; }

.marg {
  padding-top: 3em; }

li {
  text-align: center;
  list-style: none; }

h3 {
  text-align: center;
  padding-bottom: 70px; }

.titre-works {
  margin-top: 1em;
  margin-bottom: 1.2em; }

.carousel-control {
  padding-top: 10%;
  width: 5%; }

.miniatures {
  height: 250px; }

/* The side navigation menu */
.sidenav {
  height: 100%;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 100000000;
  /* Stay on top */
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.95);
  overflow-y: hidden;
  /* Disable horizontal scroll */
  padding-top: 60px;
  /* Place content 60px from the top */
  transition: .5s;
  /* 0.5 second transition effect to slide in the sidenav */
  color: #f9f9f9; }
  .sidenav h1, .sidenav h2, .sidenav h3, .sidenav h4, .sidenav h5, .sidenav h6 {
    text-align: center; }
  .sidenav li {
    font-size: 17px;
    padding-top: 50px;
    list-style: none;
    text-align: center; }
  .sidenav p {
    font-size: 18px;
    padding: 80px; }

/* Position and style the close button (top right corner) */
.closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px !important;
  margin-left: 50px; }

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
.main {
  transition: margin-left .5s;
  padding: 20px; }

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px; }

  .sidenav a {
    font-size: 18px; } }
section h1 {
  color: #f9f9f9;
  text-align: center;
  margin-top: 1em; }
section h2 {
  text-align: center;
  color: #f9f9f9;
  margin-left: 1em;
  font-size: 45px; }
section h3 {
  text-align: center;
  color: #f9f9f9;
  margin-left: 1em;
  font-size: 45px; }
section p {
  color: #f9f9f9; }

.container {
  height: 100%;
  width: 100%; }

@font-face {
  font-family: "icones";
  src: url("../img/SocialType.ttf"); }
@font-face {
  font-family: "griezmann";
  src: url("../img/Hack-Regular.ttf"); }
.carousel {
  background-color: rgba(50, 50, 50, 0.9); }

html,
body {
  background-image: url(../img/forest.jpg);
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  -ms-overflow-style: none; }
  html h1,
  body h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 70px;
    font-weight: 700;
    letter-spacing: 0.015em;
    width: 100%; }
  html p,
  body p {
    text-align: center;
    padding: 3px;
    margin: 0 0 10px 0;
    font-size: 18px; }

/*# sourceMappingURL=main.css.map */
