header {
  background-image: url(../img/forest.jpg);
  background-size: cover; }

a {
  text-decoration: none !important;
  color: #f9f9f9 !important; }

.logo1:hover {
  color: #3b5998 !important; }

.logo2:hover {
  color: #55acee !important; }

.logo3:hover {
  color: #007bb5 !important; }

.logo4:hover {
  color: black !important; }

.opacity {
  text-transform: uppercase;
  font-family: "griezmann";
  color: #f9f9f9;
  opacity: 0.6; }

.textblanc {
  color: #f9f9f9;
  margin-top: -13%;
  opacity: 0.6; }

.marg-title {
  margin-top: 200px; }

.img-somb {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4); }

.footer-dim {
  height: 10%;
  width: 100%; }

footer {
  color: #f9f9f9;
  padding-top: 1.5%; }

.cv-hover:hover {
  cursor: pointer; }

.navbar {
  background-color: rgba(50, 50, 50, 0);
  border-radius: 0px;
  border: 0px;
  width: 100%; }

.taille-logos {
  font-size: 250px; }

.fb {
  color: #3b5998; }

.twitter {
  color: #00aced; }

.linkedin {
  color: #007bb6; }

.mail {
  color: #FD4949; }

.fb:hover {
  transition-duration: 0.7s;
  transition-property: color;
  color: #f9f9f9; }

.twitter:hover {
  transition-duration: 0.7s;
  transition-property: color;
  color: #f9f9f9; }

.linkedin:hover {
  transition-duration: 0.7s;
  transition-property: color;
  color: #f9f9f9; }

.mail:hover {
  transition-duration: 0.7s;
  transition-property: color;
  color: #f9f9f9; }

.marg {
  padding-top: 1.5em; }

li {
  text-align: center;
  list-style: none; }

h3 {
  text-align: center;
  padding-bottom: 70px; }

.marge-skill img {
  height: 125px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 40px; }

.marg-work {
  padding-top: 8%; }

/* The side navigation menu */
.sidenav {
  height: 100%;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 100000000;
  /* Stay on top */
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.95);
  overflow-y: hidden;
  /* Disable horizontal scroll */
  padding-top: 60px;
  /* Place content 60px from the top */
  transition: .5s;
  /* 0.5 second transition effect to slide in the sidenav */
  color: #f9f9f9; }
  .sidenav h1, .sidenav h2, .sidenav h3, .sidenav h4, .sidenav h5, .sidenav h6 {
    text-align: center; }
  .sidenav li {
    font-size: 17px;
    padding-top: 50px;
    list-style: none;
    text-align: center; }
  .sidenav p {
    font-size: 18px;
    padding: 80px; }

/* Position and style the close button (top right corner) */
.closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px !important;
  margin-left: 50px; }

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
.main {
  transition: margin-left .5s;
  padding: 20px; }

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px; }

  .sidenav a {
    font-size: 18px; } }
section h1 {
  color: #f9f9f9;
  text-align: center;
  margin-top: 1em; }
section h2 {
  text-align: center;
  color: #f9f9f9;
  margin-left: 1em;
  font-size: 45px; }
section h3 {
  text-align: center;
  color: #f9f9f9;
  margin-left: 1em;
  font-size: 45px; }
section p {
  color: #f9f9f9; }

.container {
  height: 100%;
  width: 100%; }

@font-face {
  font-family: "icones";
  src: url("../img/SocialType.ttf"); }
@font-face {
  font-family: "griezmann";
  src: url("../img/Hack-Regular.ttf"); }
@font-face {
  font-family: "payet";
  src: url("../img/social_shapes.ttf"); }
.carousel {
  background-color: rgba(50, 50, 50, 0.9); }

.logos {
  text-decoration: none;
  font-family: "icones";
  font-size: 70px;
  color: #f9f9f9;
  opacity: 0.7; }

.logo-mail {
  text-transform: uppercase;
  text-decoration: none;
  font-family: "payet";
  font-size: 70px;
  color: #f9f9f9;
  opacity: 0.7; }

html,
body {
  background-image: url(../img/forest.jpg);
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  -ms-overflow-style: none; }
  html h1,
  body h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 70px;
    font-weight: 700;
    letter-spacing: 0.015em;
    width: 100%; }
  html p,
  body p {
    text-align: center;
    padding: 3px;
    margin: 0 0 10px 0;
    font-size: 18px; }

/*# sourceMappingURL=main.css.map */
