header {
  background-image: url(../img/forest.jpg);
  background-size: cover; }

a {
  text-decoration: none !important;
  color: #f9f9f9 !important; }

.logos {
  float: right;
  text-decoration: none;
  font-family: "icones";
  font-size: 70px;
  color: #f9f9f9;
  opacity: 0.9; }

.logo1:hover {
  color: #3b5998 !important; }

.logo2:hover {
  color: #55acee !important; }

.logo3:hover {
  color: #007bb5 !important; }

.logo4:hover {
  color: black !important; }

.opacity {
  text-transform: uppercase;
  color: #f9f9f9;
  opacity: 0.9; }

.hacked {
  font-family: "griezmann";
  color: #f9f9f9;
  opacity: 0.9; }

.marg-title {
  padding-top: 13.7%; }

.textblanc {
  color: #f9f9f9;
  opacity: 0.9;
  padding-top: 13.5%; }

.footer-dim {
  height: 10%;
  width: 100%; }

footer {
  color: #f9f9f9;
  padding-top: 1.5%; }

.cv-hover:hover {
  cursor: pointer; }

.navbar {
  background-color: rgba(50, 50, 50, 0);
  border-radius: 0px;
  border: 0px;
  width: 100%; }

#form_contact {
  margin-top: 50px; }

label {
  color: #f9f9f9;
  margin-right: 20px; }

#msg_nom {
  color: red; }

#msg_sujet {
  color: red; }

#msg_email {
  color: red; }

#msg_message {
  color: red; }

#send {
  margin-bottom: 50px; }

#nom {
  color: #f9f9f9;
  background-color: rgba(255, 255, 255, 0);
  border-top: 0;
  border-left: 0;
  border-right: 0; }

#sujet {
  color: #f9f9f9;
  background-color: rgba(255, 255, 255, 0);
  border-top: 0;
  border-left: 0;
  border-right: 0; }

#email {
  color: #f9f9f9;
  background-color: rgba(255, 255, 255, 0);
  border-top: 0;
  border-left: 0;
  border-right: 0; }

#msg_all {
  margin-top: 150px;
  color: #f9f9f9; }

#msg_alert {
  color: #f9f9f9; }

.marge-skill img {
  height: 125px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 40px; }

.comings00n {
  font-size: 55px;
  letter-spacing: 0.75em; }

/*Menu PROFIL*/
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 100000000;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.95);
  overflow-y: hidden;
  padding-top: 60px;
  transition: .5s;
  color: #f9f9f9; }
  .sidenav h1, .sidenav h2, .sidenav h3, .sidenav h4, .sidenav h5, .sidenav h6 {
    text-align: center; }
  .sidenav li {
    font-size: 17px;
    padding-top: 50px;
    list-style: none;
    text-align: center; }
  .sidenav p {
    font-size: 18px;
    padding: 80px; }

/* On stylise, et place le bouton de fermeture du menu */
.closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px !important;
  margin-left: 50px; }

.carousel {
  background-color: rgba(50, 50, 50, 0.9); }

section {
  padding-left: 30px;
  padding-right: 30px; }

.container {
  min-height: 100%;
  width: 100%; }

@font-face {
  font-family: "icones";
  src: url("../img/SocialType.ttf"); }
@font-face {
  font-family: "griezmann";
  src: url("../img/hack.ttf"); }
html,
body {
  background-image: url(../img/forest.jpg);
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  -ms-overflow-style: none; }
  html h1,
  body h1 {
    color: #f9f9f9;
    text-align: center;
    text-transform: uppercase;
    font-size: 80px;
    letter-spacing: 0.05em;
    width: 100%; }
  html h2,
  body h2 {
    text-align: center;
    color: #f9f9f9;
    font-size: 45px; }
  html h3,
  body h3 {
    text-align: center;
    color: #f9f9f9; }
  html h4,
  body h4 {
    padding-bottom: 2%;
    color: #f9f9f9;
    font-size: 23px;
    text-decoration: underline; }
  html p,
  body p {
    text-align: center;
    padding: 3px;
    margin: 0 0 10px 0;
    font-size: 18px;
    color: #f9f9f9; }

.titres {
  padding-bottom: 1.5%;
  margin-bottom: 5%;
  border-bottom: 1px solid #f9f9f9; }

/*# sourceMappingURL=main.css.map */
