// On aplliques aux sections contenues dans le carousel, un fond plus foncé
.carousel{
  background-color: rgba(50, 50, 50, 0.9);
}
// On applique une petite marge à toutes les sections
section{
  padding-left: 30px;
  padding-right: 30px;
 }
 // On fait en sorte que la classe container s'adapte au contenu
.container{
  min-height: 100%;
  width: 100%;
}
