// La classe CLEAR est attribuée à toutes les sections principales______________
.clear{
    position: relative;
    -moz-box-shadow: 0px 1px 2.5px 2px #656565;
    -webkit-box-shadow: 0px 1px 2.5px 2px #656565;
    -o-box-shadow: 0px 1px 2.5px 2px #656565;
    box-shadow: 0px 1px 2.5px 2px #656565;
    background-color: #d9d9d9;



        // Tous les titres h1 et h2 ainsi que les P contenus dans la classe clear :

    section{
        h1{
          color: #444;
          text-align: center;
          margin-top: 1em;
        }
        h2{
          text-align: center;
          color:#444;
          margin-left: 1em;
          font-size: 45px;
        }
        p{
          color: #444;
        }
}
}
