.img1{
  z-index: 0;
  background-image: url(../img/ban1.jpg);
  background-attachment: fixed;
  background-size: cover;
}
.img2{
  z-index: 0;
  background-image: url(../img/ban2.jpg);
  background-attachment: fixed;
  background-size: cover;
}
.img3{
  z-index: 0;
  background-image: url(../img/ban3.jpg);
  background-attachment: fixed;
  background-size: cover;
}
.banniere{
height: 70%;
width: 100%;
}

.redim{
  margin-top: 4.7em;
  margin-left: 11em;
  opacity: 0.7;
  width: 75px;
  height: 75px;
}
