// Premiere banniere ! (parallax)_______________________________________________
.img1{
  z-index: 0;
  background-image: url(../img/ban1.jpg);
  background-attachment: fixed;
  background-size: cover;
}

// Deuxieme banniere ! (parallax)_______________________________________________
.img2{
  z-index: 0;
  background-image: url(../img/ban2.jpg);
  background-attachment: fixed;
  background-size: cover;
}

// Troisieme banniere ! (parallax)______________________________________________
.img3{
  z-index: 0;
  background-image: url(../img/ban3.jpg);
  background-attachment: fixed;
  background-size: cover;
}

// Taille des bannières_________________________________________________________
.banniere{
  height: 85%;
  width: 100%;
}
.banniere-deux{
  height: 15%;
  width: 100%;
}
.img-mrg{
  margin-top: 3.5em;
}
// Redimensionnement des logo des languages !___________________________________
.redim{
  margin-top: 2em;
  margin-left: 11em;
  opacity: 0.7;
  width: 75px;
  height: 75px;
}
.h-5{
  padding-top: 25px;
  text-align: center;
  color: white;
  font-size: 20px;
}
