// Images contenues dans le carousel !__________________________________________
#u1{
    background-image: url(../img/ban1.jpg);
}
#u2{
    background-image: url(../img/ban2.jpg);
}
#u4{
    background-image: url(../img/ban3.jpg);
}

// Les flèches sur le coté du carousel ! transition vers une couleur plus sombre
.carousel-control:hover,
.carousel-control:focus {
  transition-duration: .5s;
  transition-property: all;
}

// Taille générale du carousel et de son contenu________________________________
.carousel,
.item,
.active {
    height: 100%;
}

// On attribue cette classe à la div qui contiendra les items du carousel_______
.carousel-inner {
    height: 100%;
}

// La classe RESIZE est attribué au div contenant les images du carousel________
.resize {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
