.dark{
  position: relative;
  -moz-box-shadow: 0px 1px 2.5px 2px #656565;
  -webkit-box-shadow: 0px 1px 2.5px 2px #656565;
  -o-box-shadow: 0px 1px 2.5px 2px #656565;
  box-shadow: 0px 1px 2.5px 2px #656565;
}
  footer{
    background-color: rgba(50, 50, 50, 0.9);
  }
  .footer-dim{
    height: 25%;
    width: 100%;
  }
