header{
  background-image: url(../img/forest.jpg);
  background-size: cover;
}
.opacity{
  text-transform: uppercase;
  font-family: "griezmann";
  color: #f9f9f9;
  opacity: 0.6;
}
.textblanc{
  color: #f9f9f9;
  margin-top: -4%;
  opacity: 0.6;
}
.marg-title{
  margin-top: 200px;
}
.img-somb{
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.logos{
  font-family: "icones";
  font-size: 80px;
  color: #f9f9f9;
  opacity: 0.6;
}
