// Formulaire ID
#form_contact{
  margin-top: 50px;
}
// Titres des formulaires
label{
  color:#f9f9f9;
  margin-right: 20px;
}
// Messages d'erreur en rouge !
#msg_nom{
  color: red;
}
#msg_sujet{
  color: red;
}
#msg_email{
  color: red;
}
#msg_message{
  color: red;
}
// Bouton ENVOYER
#send{
  margin-bottom: 50px;
  color: #222;
}
#nom{
  color: #f9f9f9;
  background-color: rgba(255, 255, 255, 0.0);
  border-top: 0;
  border-left: 0;
  border-right: 0;
}
#sujet{
  color: #f9f9f9;
  background-color: rgba(255, 255, 255, 0.0);
  border-top: 0;
  border-left: 0;
  border-right: 0;
}
#email{
  color: #f9f9f9;
  background-color: rgba(255, 255, 255, 0.0);
  border-top: 0;
  border-left: 0;
  border-right: 0;
}
// couleur du texte de la zone de message
#message{
    color: #222;
}
// Messages de vérification qui se placent dans les span du formulaire
#msg_all{
  margin-top: 150px;
  color: #f9f9f9;
}
#msg_alert{
  color: #f9f9f9;
}
