/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 100000000; /* Stay on top */
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.95);
    overflow-y: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: .5s; /* 0.5 second transition effect to slide in the sidenav */
    color: #d1d1d1;
      h1, h2, h3, h4, h5, h6{
          text-align: center;
      }
      li{
        font-size: 17px;
        padding-top: 50px;
        list-style: none;
        text-align: center;
      }
      p{
        font-size: 18px;
        padding: 80px;
      }
}

/* Position and style the close button (top right corner) */
.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px !important;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
.main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
