/*Menu PROFIL*/

// Style, position, taille, couleur de la police du menu
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 100000000;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.95);
    overflow-y: hidden;
    padding-top: 60px;
    transition: .5s;
    color: #f9f9f9;
// On centre les titres enfants du menu
h1, h2, h3, h4, h5, h6{
    text-align: center;
}
// Propriétés des li enfants du menu
li{
    font-size: 17px;
    padding-top: 50px;
    list-style: none;
    text-align: center;
}
// Propriétés des paragraphes enfants du menu
p{
    font-size: 18px;
    padding: 80px;
}}

/* On stylise, et place le bouton de fermeture du menu */
.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px !important;
    margin-left: 50px;
}
